@import 'buttons.scss';
@import 'header.scss';
@import 'navbar.scss';
@import 'footer.scss';

// sections
@import 'hero.scss';
@import 'about.scss';
@import 'careers.scss';
@import 'team.scss';
@import 'testimonials.scss';

:root {
  --orange: #FFB846;
  --dark-orange: #d19027;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Nunito', sans-serif;
  background: #02557d;
  @media(max-width: 991px){
    text-align: center;
  }
}
.bg-blue {
  background: #02557D !important;
}
img {
  object-fit: cover;
}

.form-control {
  height: 26px;
  border-radius: 15px;
  background: #D9D9D9;
}

section {
  padding: 50px 0 0;
}

.section-title {
  color: #103644;
  text-align: center;
  margin-bottom: 75px;
  .headline {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.875rem;
    padding-bottom: .45rem;
    letter-spacing: -.02em;
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--orange);
      margin-left: -32px;
      margin-right: 20px;
    }
    &::after {
      content: '';
      display: block;
      width: 200px;
      border-top: 3px solid #FFD6A1;
      margin: .45rem auto;
      @media (min-width: 991px) {
        margin: .45rem 0 0 0;
      }
    }
  }
  .subline {
    font-family: 'Concert One';
    font-size: 1.71875rem;
    line-height: 1.3125rem;
    margin-bottom: 1em;
  }
  @media (min-width: 991px) {
    text-align: left;
  }
}

.course-card {
  .card-img-top {
    border-bottom: 6px solid #103644;
  }
  .card-body {
    padding-top: 7px;
    border-top: 7px solid var(--orange);
  }
  .card-title {
    font-family: 'Concert One';
    font-style: normal;
    font-size: .85rem;
    line-height: 1.55em;
    text-align: center;
    letter-spacing: 0.045em
  }
}

.about-us {
  padding-bottom: 100px;
  &__image {
    display: flex;
    padding: 1rem;
    img {
      width: 440px;
      max-width: 100%;
      border: 8px solid #B9CFDD;
      border-radius: 10px;
    }
    @media(min-width: 991px){
      padding: 50px 0 0 3rem;
    }
  }
}

p.p {
  font-size: 1.25em;
  letter-spacing: -.02em;
  line-height: 1.2em;
  @media(min-width: 991px){
    padding: 0 3em 1.75em 0;
  }
}