video {
  position: absolute;
  top: 0;
  z-index: 0;
  object-fit: contain;
}

.section-hero {
  position: relative;
  margin-top: -100px;
  padding: 100px 0 100px;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 1000;
    @media(min-width: 991px){
      padding-top: 50px;
    }
  }

  &__video {
    @media(min-width: 991px){
      width: 100%;
    }
  }
}

.hero {
  color: #fff;
  margin-top: 42px;
  
  &__sup {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1em;
    &::after {
      content: '';
      display: block;
      border-bottom: 3px solid var(--orange);
      margin-top: 1.5rem;
    }
  }
  &__text {
    font-family: 'Concert One', sans-serif;
    font-size: 1.75rem;
    line-height: 1.3735em;
    margin-bottom: .75em;
    @media(min-width: 991px){
      font-size: 3rem;
    }
  }

  &__btn {
    margin-bottom: 1.5rem;
  }
}